* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    user-select: none;
    pointer-events: none;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game {
    z-index: 1;
    background-color: black;
    pointer-events: all;
}

#ui {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}